/* 
 * ----------------
 * Y7 Group (c)
 * Erstellt: 08.2015
 * ----------------
 * Version 0.5.1
 * ----------------
 */
@import "compass/reset";
//@import "compass/css3/appearance";
@import "gridle/gridle";

//@include experimental(appearance, none); // For normal BUttons 

@import "include/variables";
@import "include/classes";
@import "include/mediaqueries";

@import "include/shadows";

@import "include/layout";
@import "include/fonts";
@import "include/mainmenu";
@import "include/extension";
@import "include/slider";
@import "include/fixedelements";
@import "include/scrollup";
@import "include/lists";
@import "include/forms";
@import "include/gallery";
@import "include/tables";


html, body {
 
  //height: auto;
  //overflow-x: hidden;

}

body {
  overflow-x: hidden;
}

body.fixed {
  overflow-x: auto;
}


// GRIDLE SETTINGS
$settings : (
  context : 12,
  gutter-width : 20px,
  direction : ltr );
  
@include gridle_setup($settings);

@include gridle_register_state ( mobile , (
  max-width : 959px,
  gutter-width : 40px
) );

// clear each classes :
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(12, both);

@include gridle_register_column( '5on18' , 5, 18 );
//@include gridle_register_column( '7on24' , 7, 24 );

// register states :

@include gridle_generate_classes();
