/*
 * Extension
 */

.y7-se-images {
  display: block;
  width: 400px;
  padding-right: 10px;
  float: left;
  @include breakpoint(phone) {
    margin-bottom: $stdmargin;
  }
}

.y7-se-images .bx-wrapper {
  position: relative;
}
.y7-se-item {
//  position: relative;

//padding-bottom: 20px !important;
//border-bottom: 1px solid $blau;
//margin-bottom: 20px !important;
 @include breakpoint(desktop) {height: 410px;}
}

.tx-y7-simpleelements .clearfix::after {
  @include breakpoint(desktop) { height: 60px !important; }
}

.separator {
  height: 1px;
  background: $blau;
  margin: 40px 0 ;
   @include breakpoint(desktop) {width: 643px;}
    @include breakpoint(phone) {width: 100%;}
}



.y7-se-text {
  display: block;
  position: relative;
  width: 210px;   
  float: left;
   height: 327px;
}

@media (max-width: 675px) {
  .y7-se-text {
    width: 100% !important;
  }
  
  .y7-se-images .firstimage {
    margin-left: -200px;
    position: relative;
    left: 50%;
  }
  
  .y7-se-images {
    width: 100% !important;
  }
  
  .y7-se-detailtext, .y7-se-text {
   margin-top: 20px;
   }
}

@media (max-width: 420px) {

  .y7-se-images .firstimage {
 //   margin-left: -200px;
//    position: relative;
    width: auto;
  //  left: 50%;
  }
}

.y7-se-detail {
  min-height: 450px;
}

.tx-y7-simpleelements a.more {
  line-height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
   @include breakpoint(desktop) {width: 100%;}
    @include breakpoint(phone) {width: auto;}
  display: block;
  background: $blau;
  border: 1px solid $blau;
  color: white;
  padding: 10px;
  font-size: $big;
  text-decoration: none;
  transition: all 0.5s ease;
}

.tx-y7-simpleelements a.back {
  line-height: 20px;
   @include breakpoint(desktop) {position: absolute;}
    @include breakpoint(phone) {margin: 20px 0; }
  bottom: 0px;
  left: 10px;
  width: auto;
  display: block;
  background: $blau;
  border: 1px solid $blau;
  color: white;
  padding: 10px;
  font-size: $big;
  text-decoration: none;
  transition: all 0.5s ease;
}

.tx-y7-simpleelements a.more:hover, .tx-y7-simpleelements a.back:hover {
  background: white;
  color: $blau;
}

.tx-y7-simpleelements a.more:after {
 content: " \f054";
 position: relative;
 top: 2px;
 font-size: 20px;
 font-family: "FontAwesome"; 
}

.tx-y7-simpleelements a.back:after {
  content: " \f053";
 font-size: 20px;
 font-family: "FontAwesome"; 
}