/*
 *   Fixed Menu and Slider
 

body.scrollfixed .menu {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 500;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

body.scrollfixed .slider {
  position: relative;
  width: 100%;
  top: $menuheight;
}


body.scrollfixed .footer {
  position: relative;
  top: $menuheight;
}
*/