/*
 *   Fixed Menu and Slider
*/ 

body.scrollfixed .socialbar {
  position: fixed;
  background-color: white;
  top: 0px;
  width: 100%;
  z-index: 5000;
  //box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

body.scrollfixed .top {
  position: fixed;
  background-color: white;
  top: 0px;
  height: 60px;
  width: 100%;
  z-index: 5001;
  //box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

body.scrollfixed .social {
  margin: 10px 0 !important;
} 

body.scrollfixed .logo {
  height: 55px !important;
  width: 487px;
  @media (min-width: 361px) and (max-width:389px) {
 //   width: 60px !important;
  } 
  @media (max-width:360px) {
//    width: 60px !important;
  }
  display: block;
  background: url('../images/heiner_fixed.png') no-repeat left center !important;
  background-size: cover;
}


img.nonfix {
  position: absolute;
  width: 259px;
  height: 87px;
  
}
img.fix {
  display: none;
  position: absolute;
  top: 5px;
  width: 443px;
  height: 50px;
}

img.nonfixcity {
  position: absolute;
  width: 252px;
  height: 87px;
  
}
img.fixcity {
  display: none;
  position: absolute;
  top: 5px;
  width: 372px;
  height: 50px;
}


img.city {
  width: 233px !important;
}

body.scrollfixed img.nonfix {
  display: none;
}

body.scrollfixed img.fix {
  display: inline-block;
}



body.scrollfixed {
  
  .burger {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 30px;
    margin: 10px 0;
  }
  
  .burger div {
    margin: 8px 0px;
  }
  .topleft a {
    display: block;
    margin: 2.5px 0;
  }
}



body.scrollfixed .menu {
  position: fixed;
  background-color: white;
  top: 60px;
  width: 100%;
  z-index: 5000;
  //box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}

body.scrollfixed .content {
  position: relative;
  width: 100%;
  top: $topheight;
}

body.scrollfixed .bottom {
  position: relative;
  width: 100%;
  top: $topheight;
}

body.scrollfixed .slider {
  position: relative;
  width: 100%;
  top: $topheight;
}


body.scrollfixed .footer {
  position: relative;
  top: $topheight;
}
