/*
 * FONT FACES
 */
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * GENERAL FONT
 */
html {
   font-family: "open_sansregular", Arial, sans-serif;
}


h1,h2,h3,h4,h5,h6 {
  font-family: "open_sanssemibold", Arial, sans-serif;
}

b {
  font-family: "open_sansbold", Arial, sans-serif;
}

h1 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-bottom: 20px;
}

h1 a {
	text-decoration: none;
}

h2 {
  font-size: 1.4em;
  line-height: 1.5em;
 // font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 1.2em;
   line-height: 1.3em;
 // font-weight: bold;
  margin: 20px 0;
}

hr {
  background-color: $blau;
  color: $blau;
  margin: 20px 0 ;
  height: 1px;
}

.bottom a, a[href^=tel] {
  color:black; text-decoration:none; // $blau2
}

p {
  line-height: 160%;
}

.contmain a {
  color: $blau;
  text-decoration: none;
  transition: all 0.3s;
}

.contmain a:hover {
  color: #333;
}

.contmain p.bodytext {
  margin-bottom: 20px;
}


.contmain p.bodytext a.button {
  line-height: 20px;
 // position: absolute;
  bottom: 0px;
  left: 0px;

  display: inline-block;
  background: $blau;
  border: 1px solid $blau;
  color: white;
  padding: 10px;
  font-size: $big;
  text-decoration: none;
  transition: all 0.5s ease;
}

.contmain p.bodytext a.button:after {
   content: " \f054";
 position: relative;
 top: 1px;
 left: 4px;
 font-size: 13px;
 font-family: "FontAwesome"; 
} 

.contmain p.bodytext a.button:hover {
  background: white;
  color: $blau;
}



sub {
  font-size: 0.66em;
  position:relative;
  top: 3px;
}

sup {
  font-size: 0.66em;
  position:relative;
  top: -3px;
}
