/**
 *   Forms
 */

#mailform {
  margin-bottom: 135px;
}

.csc-mailform {
  
  label em {
    text-transform: none;
    padding: 5px 0 ;
    color: $blau;
    font-size: $smaller;
    line-height: $small;
  }

  .csc-form-element {
    margin: 0 0 10px 0;
  }
  
  .csc-mailform-field {
    @include breakpoint(desktop) {height: 40px;}
    @include breakpoint(phone) { height: 60px;}
   position: relative;
  }
  
  textarea {
        @include breakpoint(desktop) {width: 450px !important;}
        @include breakpoint(phone) {width: 100% !important;}
  }
  
  textarea, input[type] {
          @include breakpoint(desktop) {
            position: absolute;
            left: 180px;
            top: -4px;
          }
    
    border: 1px solid $blau;
  //  @include breakpoint(desktop) { padding: 5px; }
    padding: 3px;
    font-size: 16px;
     @include breakpoint(desktop) {width: 65%;}
      @include breakpoint(phone) {width: 100%;}
      -webkit-appearance: none;
      box-sizing: border-box;
//      margin: 5px 0 ;
  }
  
  input[type="text"] {
   // margin-top: 5px;
    box-sizing: border-box;
    @include breakpoint(desktop) {
    position: absolute;
    left: 180px;
    width: 450px;
     top: -4px;
     
     }
     
     @include breakpoint(phone) {
      width: 100%; 
      
       
     }

  }
  
  .needed {
    position: relative;
    top: 126px;
  }
  
  input[type="submit"] {
    

    top: 100px;
    -webkit-appearance: none;
    width: auto; 
 //   @include breakpoint(desktop) { width: auto; }
   //  @include breakpoint(phone) { width: 100%; }
    position: relative;
    padding: 8px 30px 8px 8px;
    @include breakpoint(desktop) {
      left: 0px;
    }
    height: 40px;
    background-color: $blau2;
    background-image: url('../images/fa-chevron-right.png');
    background-repeat: no-repeat;
    background-position: 90% 52%;
    border: 1px solid $blau2;
    color: $weiss;
    //font-weight: bold;
    font-family: "open_sansregular", Arial, sans-serif;
    box-sizing: border-box;
    transition: all 0.4s;
  }
  
  .csc-form-confirmation-false input[type="submit"] {
  //  padding: 8px 36px 8px 8px !important;
    background-position: 93% 52% !important;
   }
  
  .csc-form-8 {
    overflow: visible !important;
  }
  
  
  input[type="submit"]:hover {
    background-color: $blau;
  }
  
  label {
    @include breakpoint(phone) {
      line-height: 30px;
    }
    position: relative;
  }
  
  strong {
    width: 150%;
    display: block;
    padding: 7px 5px;
    background: #ebebeb;
    position: relative;
   // height: 30px;
    margin-bottom: 5px;
    top: 5px;
    //left: 5px;
    color: $blau;
    //font-style: italic;
    font-size: $smaller; 
    text-transform: none;
//    box-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  }
  
}
