/*
 * General Layout
 */

.container {
 @include breakpoint(desktop) {
  width: 960px;
  }
  @include breakpoint(phone) {
	width: 100%;
  }
  margin: 0 auto;
}

/*
 * Top Landing
 */

.top {
  height: $topheight;
  border-top: $topborder;
  color: $blau;
}

.logo {
  height: 87px;
  width: 283px;
  display: block;
  background: url('../images/heiner_top.png') no-repeat center center;
}

.topleft a {
  display: block;
  margin: (($topheight - 87px) / 2) 0;
}

.social {
  line-height: 40px;
  text-align: right;
  margin: (($topheight - 40px) / 2) 0;
}

.social i {
  padding: 0 10px;
}

/**
 *   Slider 
 */

.slider {
  height: $sliderheight;
  background: url('../images/zirkel.jpg');
  background-size: cover;
  background-position: bottom center;
}

/*
 * Content
 */

.contmain {
  min-height: 400px;
}

.content {
  padding: 40px 0;
}

.contright {
  background-color: $blau;
  color: white;
}

.content .grid-3 {
  padding: 0 !important;
}
.contright {
  .csc-default {
    border-bottom: 1px solid white;
    padding: 20px 10px;
    margin: 0;
  }
}
/*
 * Bottom Landing
 */
.bottom {
  background-color: $blau;
  color: white;
  font-size: $small;
  padding: 40px 0;
}

.botmid {
  padding-left: $stdmargin;
}

.logo_bottom {
  height: 87px;
  width: 82px;
  display: block;
  background: url('../images/bottom_heiner.png') no-repeat center center;
}

span.label {
  display: inline-block;
  width: 33%;
}
/*
 * Footer Landing
 */
.footer {
  background-color: $blau;
  color: white;
  font-size: $small;
  padding-bottom: 20px;
}

.footer .container {
  border-top: 1px solid white;
} 

.footer div {
  line-height: 40px;
}

.footright {
  text-align: right;
}
