/*
 * General Layout
 */

.container {
 @include breakpoint(desktop) {
  width: 960px;
  }
  @include breakpoint(phone) {
	width: 100%;
  }
  margin: 0 auto;
}

/*
 * Top Landing
 */

.top {
  height: $topheight;
  border-top: $topborder;
  color: $blau;
  box-shadow: 0px 0px 5px #000;
  z-index: 999;
position: relative;
}

.logo {
  height: 87px;
  width: 283px;
  display: block;
  background: url('../images/heiner_top.png') no-repeat center center;
}

.topleft a {
  display: block;
  margin: (($topheight - 87px) / 2) 0;
}

.social {
  line-height: 40px;
  text-align: right;
  margin: (($topheight - 40px) / 2) 0;
  cursor: pointer;
}
.social {
  iframe {
    width: auto !important;
  }
}

.social i {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .social {
    visibility: hidden;
  }
}
.socialbar .container {
  height: 30px;
  lineheight: 30px;
  display: none;
}

.sharelinks {
  display:inline-block;
  height: 30px;
  width: 25%;
  float: left;
}

/**
 *   Slider 
 */

.slider {
  @include breakpoint(desktop) { height: $sliderheight; }
   @include breakpoint(phone) { height: 350px; }
 /* background: url('../images/zirkel.jpg');
  background-size: cover;
  background-position: bottom center; */
}

/*
 * Content
 */

.contmain {
  min-height: 400px;
}

.content {
  padding: 40px 0;
}

.contright {
  background-color: $blau;
  color: white;
}

 @include breakpoint(phone) {
  .push-1 {
    left: 0% !important;
  } 
 }

.content .grid-3 {
  padding: 0 !important;
}
.contright {
   @include breakpoint(phone) { 
     position: relative;
     top: 10px;
   }
}

.contright > div {
  border-bottom: 1px solid white;
    padding: 20px 10px;
    margin: 0;
    
   @include breakpoint(phone) {
     border-right: 10px solid white;
     border-left: 10px solid white;
   }
}

.contright {
   @include breakpoint(phone) {
    margin: $stdmargin 0 0 0 ;
   }
   
}

.contright a {
  color: white;
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family:"open_sansbold";
}

.contright a:hover {
  color: #ccc;
}

.contright a:after {
 content: " \f105";
 font-size: 20px;
 font-family: "FontAwesome"; 
}

/*
 * Bottom Landing
 */
.bottom {
  background-color: $blau;
  color: white;
  font-size: $small;
  padding: 40px 0;
}

.botmid {
  padding-left: $stdmargin;
}

.botleft, .botmid {
   @include breakpoint(phone) {
     margin: 0 0 20px 0 ;
   }
}

.logo_bottom {
  height: 87px;
  width: 82px;
  display: block;
  background: url('../images/bottom_heiner.png') no-repeat center center;
}

span.label {
  display: inline-block;
  width: 33%;
}
/*
 * Footer Landing
 */
.footer {
  background-color: $blau;
  color: white;
  font-size: $small;
  padding-bottom: 20px;
}

.footer .container {
  border-top: 1px solid white;
} 

.footer div {
  line-height: 40px;
}

.footright {
  text-align: right;
}
