/*
 * General Layout
 */

.container {
 @include breakpoint(desktop) {
  width: 960px;
  }
  @include breakpoint(phone) {
	width: 100%;
  }
  margin: 0 auto;
}

/*
 * Top Landing
 */

.top {
  height: $topheight;
 // transition: height 0.5s;
  border-top: $topborder;
  color: $blau;
  box-shadow: 0px 0px 5px #000;
  z-index: 999;
position: relative;
}

.logo {
  height: 87px;
  width: 283px; 
  @media (max-width:390px) {
    width: 87px !important;
  }
  display: block;
  background: url('../images/heiner_top.png') no-repeat left center;
}

body.landing .logo {
  height: 87px;
  width: 283px;
  @media (min-width: 361px) and (max-width:389px) {
    width: 87px !important;
  } 
  @media (max-width:360px) {
    width: 87px !important;
  }
  display: block;
  background: url('../images/heiner_top.png') no-repeat left center;
}




.topleft a {
  display: block;
  margin: (($topheight - 87px) / 2) 0;
}

.social {
  line-height: 40px;
  text-align: right;
  margin: (($topheight - 40px) / 2) 0;
  cursor: pointer;
}
.social {
  iframe {
  //  width: auto !important;
  }
}

.twitterLink {
  border: 1px solid #aaa;
  color: #000;
  text-decoration: none;
  font-size: 11px;
  margin: 2px;
  padding: 1px 2px;
  border-radius: 2px;
  
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.33+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.33))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.33) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=0 ); /* IE6-9 */
}
.twitterLink:before {
  content: "\f099  ";
  font-family: "FontAwesome";
  color: $blau;
}

.social i {
  padding: 0 10px;
}

@media (max-width: 600px) {
  .social {
    display: none;
  }
  
  .socialbar {
    display: none;
  }
}


.socialbar .container {
  height: 30px;
  //position: absolute;
  //left: 50%;
  //margin-left: -25%;
  lineheight: 30px;
  //visibility: hidden;
  //z-index: -500;
  display: none;
  padding-top: 5px;
}

.sharelinks {
  text-align: center;
  display:inline-block;
  height: 30px;
  width: 25%;
  float: left;
}

.menuslider {
  position: relative;
  @include breakpoint(desktop) { height: $sliderheight; }
   @include breakpoint(phone) { height: $slidermobile; }
}

/**
 *   Slider 
 */

.slider {
  @include breakpoint(desktop) { height: $sliderheight; }
   @include breakpoint(phone) { height: $slidermobile; }
 /* background: url('../images/zirkel.jpg');
  background-size: cover;
  background-position: bottom center; */
 position: absolute;
 top: 0px;
 width: 100%;
 transition: height 0.5s;
}

/* 
 *  Landing 
 */
body.landing {
 
  h1 {
    font-size: 1.6em !important;
    font-family:"open_sansbold", Arial, sans-serif !important;
  }
  .content {
    padding: 80px 0 !important;
  }
  
  .contmain  {
    margin-bottom: 40px;
  }
  p.bodytext {
    text-align:center;
  }
  
  .linkitem p a {
    display: inline-block;
    top: -20px;
    position: relative;
    width: 200px;
    padding: 10px;
    border: 1px solid $blau;
    background: $blau;
    color: white;
    font-size: $bigger;
    text-decoration: none;
    font-family: "open_sanssemibold", Arial, sans-serif;
    transition: all 0.3s;
  }
  
  .linkitem p a:hover  {
    background-color: white;
    color: $blau;
    
   }
  
  .filler {
    position: absolute;
    height: 100%;
    background-color: $blau; 
  }
}

/*
 * Content
 */

.contmain h1 {
  color: $blau;
}

.contright h1 {
  color: white;
}

body.bautraeger .contmain {
  min-height: 400px;
}

body.landing {
 overflow-x: hidden;
}

body.landing .csc-textpic-imagewrap {
  @include breakpoint(phone) {
    position: relative;
    left:50%;
    margin-left: -150px;
  }
}
@media screen and (max-width: 400px) {
  body.landing .csc-textpic-imagewrap img {
  //  width: 100% !important;
  }
}

.linkitem p.bodytext {
  text-align: center;
}

body.landing h1 , body.landing .contmain p {
  text-align: center !important;
}

.content {
  padding: 40px 0;
}

.content ul {
  margin: 20px 0 ;
}

.contright {
  background-color: $blau;
  color: white;
}

 @include breakpoint(phone) {
  .push-1 {
    left: 0% !important;
  } 
 }

.content .grid-3 {
  padding: 0 !important;
}
.contright {
  margin-top: 10px;
   @include breakpoint(phone) { 
     position: relative;
   //  top: 10px;
   }
}

.contright > div {
  border-bottom: 1px solid white;
    padding: 20px 24px 40px 24px;
    margin: 0;
    
   @include breakpoint(phone) {
     border-right: 20px solid white;
     border-left: 20px solid white;
   }
}

.newsletter input[type="text"] {
  margin: 20px 0;
  font-style: italic;
  color: #aaa;
  padding: 3px;
   @include breakpoint(desktop) {width: 182px;}
    @include breakpoint(phone) {width: 75%;}
}
.newsletter button.submit {
  display: inline;
 // vertical-align: bottom;
    font-family: "open_sansbold", Arial, sans-serif;
 color: white;
 background-color: $blau;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: $default;
  cursor: pointer;
  transition: all 0.3s;
}

.newsletter button.submit:hover {
  color: #ccc;
}

span.tsubmit {
  display: none;
}

.newsletter button.submit:after {
  content: " \f054";
 position: relative;
 top: 2px;
 font-size: 20px;
 font-family: "FontAwesome"; 
}

.slider p a {
  text-decoration: none;
  font-family: "open_sansbold", Arial, sans-serif;
  transition: all 0.3s;
  border: 1px solid $blau;
}

.slider p a:hover {
  background-color: white;
  color: $blau;
}


.slider p a:after {
    content: " \f054";
 position: relative;
 top: 2px;
 font-size: 20px;
 font-family: "FontAwesome"; 
}

.contright {
   @include breakpoint(phone) {
    margin: $stdmargin 0 0 0 ;
   }
   
}

.contright a {
  color: white;
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  font-family:"open_sansbold";
   transition: all 0.3s;
}

.contright a:hover {
  color: #ccc;
}

.contright a:after {
 content: " \f054";
 position: relative;
 top: 2px;
 font-size: 20px;
 font-family: "FontAwesome"; 
}

/*
 * Bottom Landing
 */
.bottom {
  background-color: $blau;
  color: white;
  font-size: $small;
  padding: 40px 0;
}

.botmid {
  padding-left: $stdmargin;
}

.botleft, .botmid {
   @include breakpoint(phone) {
     margin: 0 0 20px 0 ;
   }
}

.logo_bottom {
  height: 87px;
  width: 82px;
  display: block;
  background: url('../images/bottom_heiner.png') no-repeat center center;
}

span.label {
  display: inline-block;
  width: 33%;
  @media (max-width: 500px) {
    width: 100% !important;
  }
}

.hide420 {
  @media (max-width: 421px) {
    display:none !important;
  }
}

@media (max-width: 320px) {
  .footer {
    font-size: 13px !important;
  }
}

@include breakpoint(phone) {
  .footright {
    text-align: left !important;
  }
}

span.data {
  @media (max-width: 500px) {
    display: inline-block;
    margin-bottom: 10px !important;
  }
}
/*
 * Footer Landing
 */
.footer {
  background-color: $blau;
  color: white;
  font-size: $small;
  @include breakpoint(desktop) {padding-bottom: 20px;}
}

.footer .container {
  border-top: 1px solid white;
} 

.footer div {
  line-height: 40px;
}

.footer a {
  color : white;
  text-decoration: none;
  transition: all 0.3s;

}

.footer a:hover {
  color: #ccc;
}

.footright {
  text-align: right;
}
