.content {
 
 ul {
   list-style: outside none none;
   padding: 15px;
   background: #DDDDDD; //rgba(100,100,100,0.2);
 } 
 
 ul li {
   position: relative;
   left: 30px;
   line-height: 36px;
 }
 
 ul li::before {
    content: "\f0c8";
    font-family: "FontAwesome";
    display: inline-block;
    color: $blau;
    font-size: 12px;
    position: relative;
    bottom: 1px;
    width: 1.5em;
    margin-left: -1.5em;

}

li.csc-uploads-element::before {
  
      content: "\f15c" !important;
    font-family: "FontAwesome";
    display: inline-block;
    color: $blau;
    font-size: 16px;
    position: relative;
   bottom: 1px;
    width: 1.5em;
   margin-left: 0em !important; 
}


li.csc-uploads-element-pdf::before {
    content: "\f1c1" !important;
    font-family: "FontAwesome";
    display: inline-block;
    color: $blau;
    font-size: 16px;
    position: relative;
   bottom: 1px;
    width: 1.5em;
   margin-left: 0em !important; 
}


ul.csc-uploads span {
  display: inline-block !important;
}

ul.csc-uploads {
  padding: 5px 0 ;
}
}