/** 
 *   Main Menu 
 */

// Just Menu
  .menu {
   
     @include breakpoint(desktop) { display: block;  background: rgba(38,47,128,0.5); } //position: absolute;}
    @include breakpoint(phone) { display: none;  background: rgba(38,47,128,0.7); }
  }
  
  .menu {
    
    
    ul {
      list-style-type: none;
    }
    ul li {
      display: inline-block;
      float: left;
    }
    
    ul li a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: white;
      background: rgba(38,47,128,0);
      transition: all 0.5s;
    }
    
    ul li a:hover {
      background: rgba(38,47,128,1);
    }
  }
    
@include breakpoint(phone) {
  .menu ul li {
    width: 100%;
    border-bottom: 1px solid white;
  }
}

.respo {
   @include breakpoint(desktop) {
     display:none;
     
   }
   
    @include breakpoint(phone) {
      display: block;
      position: relative;
      height: $topheight;
    }
}


    
    .burger {
      position: absolute;
      top: 24px;
      right: 20px;
     // background: white;
      width: 40px;
      margin: 20px 0;
    }
    
    .burger div {
      height: 3px;
      margin: 10px 0;
      background: $blau;
      width: 100%;
    }

