/** Makler Menu */
  
  ul.sidemenu {
          margin: 0 !important;
          padding: 0 !important;
          
          li {
            list-style-type: none;
            display: inline;
            left: 0px !important;
            margin-right: 10px;
            border-right: 2px solid $blau;
            padding-right: 10px;
          }
          
          a {
            color: black !important;
          }
          
          li::before {
            content: "" !important;
          }
          li:last-child {
            border-right: 0px solid white !important;
          }
         

  
  }
ul.inner {
          margin: 0 !important;
          padding: 0 !important;
          
          li.sidecurrent a {
            font-family: "open_sansbold", Arial, sans-serif !important;
            color: $blau !important;
          }
 }
/** 
 *   Main Menu 
 */

ul.mmmakler li a {
  padding: 10px 44px !important;
}

ul.mmbau li a {
  padding: 10px 37px !important;
}

ul.mmcity li a {
  padding: 10px 16px !important;
}


// Just Menu
  .menu {
   position: relative;
     @include breakpoint(desktop) { display: block; } //position: absolute;}
    @include breakpoint(phone) { display: none; background-color: $blau2; }// background: rgba(38,47,128,1); }
    z-index: 4999;
  }
  
  
  .menu {
    
    .container {
           @include breakpoint(desktop) { display: block; background-color: $blau2; }//background: rgba(38,47,128,0.66); } //position: absolute;}
           position: relative;
    }
    
    .leftfill {
      position: absolute;
      height: $menuheight + 20;
     @include breakpoint(desktop) { display:block; }
     @include breakpoint(phone) { display: none; }
      left: -50%;
      width: 50%;
     background-color: $blau2; // background: rgba(38,47,128,0.66); 
    }
    
    .rightfill {
      position: absolute;
      height: $menuheight + 20;
      @include breakpoint(desktop) { display:block; }
     @include breakpoint(phone) { display: none; }
      left: 960px;
      width: 50%;
     background-color: $blau2; // background: rgba(38,47,128,0.66); 
    }
    
    
    ul {
      z-index: 9999;
      display: block;
      @include breakpoint(desktop) { background-color: $blau2; }//background: rgba(38,47,128,0.66);} 
      list-style-type: none;
    }
    ul li {
      display: inline-block;
      float: left;
    }
    
    ul li a {
      height:  $menuheight;
      line-height:  $menuheight;
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: white;
      @include breakpoint(phone) {background-color: $blau2; }//background: rgba(38,47,128,0.66);}
      @include breakpoint(desktop) {background-color: $blau2; }//background: rgba(38, 47, 128, 0);}
      transition: all 0.5s;
    }
    
    ul li a:hover {
     background-color: $blau; // background: rgba(38,47,128,1);
    }
    
    .mmcurrent a {
      background-color: $blau !important; //rgba(38,47,128,1);
    }
  }
    
@include breakpoint(phone) {
  .menu ul li {
    width: 100%;
    border-bottom: 1px solid white;
  }
}

.respo {
   @include breakpoint(desktop) {
     display:none;
     
   }
   
    @include breakpoint(phone) {
      display: block;
      position: relative;
      height: $topheight;
    }
}


    
    .burger {
      position: absolute;
      top: 24px;
      right: 20px;
     // background: white;
      width: 40px;
      margin: 20px 0;
    }
    
    .burger div {
      height: 3px;
      margin: 10px 0;
      background: $blau;
      width: 100%;
    }

