/** 
 *   Main Menu 
 */

// Just Menu
.menu {
  background: rgba(38,47,128,0.5);
}

.menu {
  
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    display: inline-block;
    float: left;
  }
  
  ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    background: rgba(38,47,128,0);
    transition: all 0.5s;
  }
  
  ul li a:hover {
    background: rgba(38,47,128,1);
  }
}
