/*
 * SCROLL UP 
 */

.footer .container, .bottom .container, .content .container {
  position: relative;
}

.scrollup {
  position: absolute;
  @include breakpoint(desktop) {  bottom: 0px; right: 0px;}
  @include breakpoint(phone) { bottom: 0px; right: 10px;}
  
  z-index: 100;
}

.scrollup i {
  font-size: 3em !important;
}

.scrollup a {
    color: rgba(255,255,255,0.5);
    transition: all 0.5s;
}

.scrollup a:hover {
   color: rgba(255,255,255,0.9);
}
