th {
  font-family: "open_sansbold", Arial, sans-serif;
  background-color: white;
  color: $blau;
//  width: 50%;
  padding: 10px;
  // border: 1px solid $blau;
}

tr td {
  border-right: 5px solid white;
// width: 50%;
  padding: 10px;
 //border: 1px solid ($blau2 * 1.5);
}

.tr-even {
  background-color: #ebebeb;
}

#c57 .td-0 {
  width: 15%;
  font-weight: bold;
}

#c57 td {
  border-right: 5px solid white;
  border-left: 0;
}

table.preisliste {
  font-size: 15px;
  
  tbody .td-3, tbody .td-2, tbody .td-1{
    letter-spacing: -0.07em;
  }
  
  a.download:before {
    text-align: center;
    font-size: 24px;
    content: "\f1c1 ";
    font-family: "FontAwesome";
  }
}
