// VARIABLEN DEFINITIONS

$blau : #262f80;
$blau2 : #6f76ae; 

$footer : #f9f9f9;

$stdmargin : 20px;

$topheight : 135px;
$topborder : 5px solid $blau;

$menuheight : 40px;
$sliderheight : 480px;
$slidermobile : 250px;
$shortcodesheight : 400px;
$bottomheight : 400px; 

// FONTS
$smallest : 0.7em;
$smaller : 0.8em;
$small : 0.9em;
$default : 1.0em;
$big : 1.05em;
$bigger : 1.1em;

// TO DELETE

$gray1 : #555555;
$gray2 : #777777;
$lightgray1 : #aaaaaa;
$lightgray2 : #cccccc;
$accent : #006699;

$weiss : white;
$schwarz : black;